.form-box {
    margin-top: 40px;
    border: 1px solid #d2c7c7;
    padding: 40px;
    border-radius: 5px;
}

.row.header-menu {
    margin-top: 30px;
    text-align: right;
}

.bt-display {
    display: inline-block;
    margin-left: 20px;
}

#myTable thead tr th {
    text-align: center;
}

#myTable tbody tr td {
    text-align: center;
    vertical-align: middle;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}

.col-md-12.footer {
    text-align: center;
    margin: 50px auto;
    font-weight: 700;
    color: #6c757d;
}

.footer span {
    color: #5f6fad;
}